
body {
font-family:'Lexend Deca', sans-serif;
font-weight: 400;
font-size: 1em;
letter-spacing: 0.15em;
line-height: 1em;
}

.page-container{
   /* border: 2px solid red; */
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.page-container h1{
    padding-top: 0.3em;
    color: hsl(0, 0%, 95%); 
    font-size: 2em;
}
.page-container p{
    color: hsla(0, 0%, 100%, 0.75);
}
.box-left {
    background-color: hsl(31, 77%, 52%);
    padding: 30px;
    border-radius: 2% 0% 0% 2%;
    width: 200px;
    height: 360px;
}
.box-middle {
    background-color: hsl(184, 100%, 22%);
    padding: 30px;
    width: 200px;
    height: 360px;
}
.box-right {
    background-color: hsl(179, 100%, 13%);
    padding: 30px;
    border-radius: 0% 2% 2% 0%;
    width: 200px;
    height: 360px;
}
.box-left p{
    padding-top: 1.4em;
    padding-bottom: 6.5em;
    font-size:smaller; 
    }
    .box-middle p{  
    font-size:smaller;
    padding-top: 1.4em;
    padding-bottom: 5.5em;
     }
    .box-right p{  
    font-size:smaller;
    padding-top: 1.4em;
    padding-bottom: 6.5em;
     }
 
 @media only screen and (max-width: 480px) {
    .page-container{
        display: flex;
        flex-direction: column;
        height: 1360px;
        width: 390px;
   }
        .box-left{
            border-radius:2% 2% 0% 0%;
            width:285px;
        }
        .box-middle{
            width:285px;
        }
        .box-right{
            border-radius:0% 0% 2% 2% ;
            width:285px;
        }
    }

.box-left a{
    color:hsl(31, 77%, 52%);
    background-color: white;
    text-decoration: none;
    border-radius: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
     
    }
     
    .box-left a:hover{
    border:1px  solid white;
    background:none;
    color: white;
    }

     
    /*.box-middle{
    padding: 30px;
    color: white;;
    }*/
     
     
    .box-middle a{
    color:hsl(184, 100%, 22%) ;
    background-color: white;
    text-decoration: none;
    border-radius: 35px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
     
    }
     
    .box-middle a:hover{
    border:1px  solid white;
    background:none;
    color: white;
    }

    .box-right a{
    color: hsl(179, 100%, 13%);
    background-color: white;
    text-decoration: none;
    border-radius: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    }
     
    .box-right a:hover{
    border:1px  solid white;
    background:none;
    color: white;
    }